*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.box{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

h1{
    text-align: center;
    font-size: 55px;
}

.quti{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
  
}

.qizil{
    width: 450px;
    height: 300px;
    background: red;
    color: white;
    font-size: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.past{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}


































